<form [formGroup]="form">
    <div>
        Name 
        <span style="color: red;" *ngIf="form.get('name').errors?.required">*</span>
        <p><input formControlName="name"></p>
    </div>
    <div>
        Email
        <span style="color: red;" *ngIf="form.get('email').errors?.required">*</span>
        <span style="color: red;" *ngIf="form.get('email').errors?.email">This is not email </span>
        <p><input formControlName="email"></p>
    </div>
    <div>
        Post Address
        <span style="color: red;" *ngIf="form.get('postaddress').errors?.required">*</span>
        <span style="color: red;" *ngIf="form.get('postaddress').errors?.minlength">Password should be at least 8 characters </span>
        <p><input type="postaddress" formControlName ="postaddress"></p>
        
    </div>       
    <div>
        Comments
        <p> <input type="comments" formControlName ="confirmPassword"> </p>
    </div>
</form>
<div class="form-group">
    <input type="submit" id="submit" class="btn btn-custom" name="submit" value="Submit">
  </div>