<form [formGroup]="form">
    <div>
     Phone : <input formControlName="phoneNo">
    </div>
    <div>
     Email : <input formControlName="email">
    </div>
    <div>
        Password : <input type="password" formControlName ="password">
        <span style="color: red;" *ngIf="form.get('password').errors?.required">Password required</span>
        <span style="color: red;" *ngIf="form.get('password').errors?.minlength">Password should be at least 8 characters </span>
    </div>       
    <div>
        Confirm Password : <input type="password" formControlName ="confirmpassword">
        <span style="color: red;" *ngIf="form.get('password').errors?.required">Confirm Password required</span>
    </div>
    </form>
    <p>
     Form Data Below
    </p>
    <code>
     {{form.value | json}}
    </code>